[submodule "DeepLearning"]
	path = DeepLearning
	url = https://github.com/MingchaoZhu/DeepLearning.git
[submodule "Dive-Into-Deep-Learning-PyTorch-PDF"]
	path = Dive-Into-Deep-Learning-PyTorch-PDF
	url = https://github.com/wzy6642/Dive-Into-Deep-Learning-PyTorch-PDF.git
[submodule "hugging-audio"]
	path = hugging-audio
	url = https://github.com/datawhalechina/hugging-audio.git
[submodule "lihang-code"]
	path = lihang-code
	url = https://github.com/fengdu78/lihang-code.git
[submodule "machine_learning_beginner"]
	path = machine_learning_beginner
	url = https://github.com/fengdu78/machine_learning_beginner.git
[submodule "machine-learning-deep-learning-notes"]
	path = machine-learning-deep-learning-notes
	url = https://github.com/loveunk/machine-learning-deep-learning-notes.git
[submodule "pumpkin-book"]
	path = pumpkin-book
	url = https://github.com/datawhalechina/pumpkin-book.git
[submodule "simplified-deeplearning"]
	path = simplified-deeplearning
	url = https://github.com/exacity/simplified-deeplearning.git
[submodule "thorough-pytorch"]
	path = thorough-pytorch
	url = https://github.com/datawhalechina/thorough-pytorch.git